:root {
  --color-black: #261c00;
  --color-white: #fcfbf7;
  --color-grey: #918f8a;
  --color-light-grey: #bfbfbf;
  --color-yellow: #f4b000;
  font-size: 16px;
  height: 100%;
}

body {
  font-family: 'Roboto', system-ui, -apple-system, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  font-weight: 500;
  line-height: 1.125;
  color: var(--color-text-primary);
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  &.theme_light {
    --color-text-primary: var(--color-black);
    --color-text-secondary: var(--color-light-grey);
    --color-primary: var(--color-yellow);
    --color-button: var(--color-yellow);
    --color-button-disabled: var(--color-light-grey);
    background-color: white;
  }

  &.theme_dark {
    --color-text-primary: var(--color-white);
    --color-text-secondary: var(--color-grey);
    --color-primary: var(--color-yellow);
    --color-button: var(--color-white);
    --color-button-disabled: var(--color-grey);

    background-image: radial-gradient(
      70.24% 70.24% at 49.87% 29.76%,
      rgba(18, 12, 1, 0.9) 0%,
      #000000 100%
    );
  }
}
