@mixin container() {
  padding: 0 24px;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
}

@mixin text-heading() {
  font-size: rem(30);
  line-height: em(32, 30);
  font-weight: bold;
}

@mixin text-subheading() {
  font-size: rem(20);
  line-height: em(22, 20);
  font-weight: bold;
}

@mixin text-caption() {
  font-size: rem(14);
  line-height: em(16, 14);
  font-weight: normal;
}

@mixin text-body() {
  font-size: 1rem;
  font-weight: 500;
}

@mixin light() {
  @at-root body.theme_light #{&} {
    @content;
  }
}

@mixin dark() {
  @at-root body.theme_dark #{&} {
    @content;
  }
}

@mixin hide-scrollbar() {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none;
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}
