.chart {
}

.chart__content {
  display: flex;
  flex-direction: column;
}

.chart__inner {
  margin-left: -24px;
  margin-right: -24px;
  min-height: 150px;
  height: 49.4%;
  overflow: auto;
  margin-top: auto;
  @include hide-scrollbar();

  @include landscape() {
    height: 47.6%;
  }
}

.chart__grid {
  display: grid;
  height: 100%;
  margin: 0 auto;
  grid-column-gap: 24px;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  align-items: flex-end;
  padding-left: 24px;
  padding-right: 24px;
  width: max-content;
}

.chart__item {
  width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  max-height: 100%;
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: flex-end;
  user-select: none;
  animation: grow 1.5s 0.4s ease, appear 0.8s 0.4s ease forwards;
}

.chart__item-top {
  @include text-subheading();
  margin-bottom: 8px;
  text-align: center;
}

.chart__item-top + .chart__item-bar {
  flex-grow: 1;
}

.chart__item-bar {
  .bar {
    padding: 0;
    min-height: 8px;
  }
}

.chart__item-bottom {
  @include text-caption();
  margin-top: 12px;
  text-align: center;
  color: var(--color-text-secondary);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes grow {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}

.chart__people {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  list-style: none;

  @include landscape() {
    flex-direction: row;
    justify-content: center;
    padding: 24px 0;
  }

  @media screen and (min-width: 568px) {
    flex-direction: row;
    justify-content: center;
    padding: 24px 0;
  }
}

.chart__people-column {
  padding: 16px 0;

  @include landscape() {
    width: 50%;
    padding: 0 16px;
    max-width: 300px;
  }

  .card {
    padding: 0;
    &:hover,
    &:active {
      background-image: none;
      box-shadow: none;
    }
  }

  .card__name {
    @media screen and (min-width: 768px) {
      white-space: nowrap;
    }
  }

  & + & {
    margin-top: 2px;
    position: relative;

    @include landscape() {
      margin-top: 0;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background-color: var(--color-text-secondary);
      opacity: 0.3;
      bottom: 100%;

      @include landscape() {
        height: auto;
        width: 2px;
        right: auto;
        top: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  &:nth-of-type(2) ~ & {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}
