.chart {
}

.chart__content {
  display: flex;
  flex-direction: column;
}

.chart__inner {
  margin-left: -24px;
  margin-right: -24px;
  min-height: 150px;
  height: 40.42%;
  margin-top: auto;
  margin-bottom: 30px;
  @include hide-scrollbar();

  @include landscape() {
    height: 31%;
    min-height: auto;
  }
}

.chart__grid {
  display: grid;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  align-items: flex-end;
  padding-right: 17px;
  transform: translateX(-8px);
  max-width: 90vmax;

  @include media-sphone() {
    max-width: none;
  }

  @media screen and (orientation: landscape), (min-width: 768px) {
    padding: 0 25px;
    transform: none;
  }
}

.chart__item {
  position: relative;
  width: 40px;
  text-overflow: ellipsis;
  height: 100%;
  max-height: 100%;
  display: flex;
  // opacity: 0;
  flex-direction: column;
  justify-content: flex-end;
  user-select: none;
  // animation: grow 1.5s 0.4s ease, appear 0.8s 0.4s ease forwards;
  // animation: appear 0.8s 0.4s ease forwards;

  display: none;

  &--active {
    .bar {
      @include dark() {
        background: radial-gradient(81.14% 100% at 50% 0%, #ffa300 0%, #2d1c00 100%);
        box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.4),
          inset 0px 6px 15px rgba(255, 162, 0, 0.5);
      }

      @include light() {
        background: linear-gradient(180deg, #fff2d1 0.82%, #ffd66c 100%);
        box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5),
          inset 0px 0px 20px rgba(255, 176, 57, 0.8);
      }
    }

    .chart__item-top {
      color: var(--color-text-primary);
    }
  }

  &--active,
  &--active + &,
  &--active + & + & {
    display: flex;
  }

  &--threeBefore,
  &--threeBefore ~ & {
    display: flex;
  }

  &--twoAfter ~ & {
    display: none;
  }

  @media screen and (orientation: landscape), (min-width: 768px) {
    &--sixBefore,
    &--sixBefore ~ & {
      display: flex;
    }
    &--twoAfter ~ & {
      display: none;
    }
  }
}

.chart__item-top {
  @include text-subheading();
  margin-bottom: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-text-secondary);
}

.chart__item-top + .chart__item-bar {
  flex-grow: 1;
}

.chart__item-bar {
  .bar {
    padding: 0;
    min-height: 8px;
  }
}

.chart__item-bottom {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  @include text-body();
  margin-top: 12px;
  text-align: center;
  color: var(--color-text-secondary);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes grow {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}

.chart__people {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  list-style: none;

  @include landscape() {
    flex-direction: row;
    justify-content: center;
    padding: 24px 0;
    width: 100%;
    max-width: 76vmax;
    margin: 0 auto;
    // margin-bottom: auto;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    padding: 24px 0;
    max-width: 80vmax;
    width: 100%;
    margin: 0 auto auto auto;
  }

  .card__content {
    overflow: hidden;
  }

  .card__name {
    white-space: nowrap;
  }

  // @media screen and (min-width: 768px) and (orientation: portrait) {
  //   margin-bottom: auto;
  // }

  // @media screen and (min-width: 1024px) {
  //   margin-bottom: auto;
  // }
}

.chart__people-column {
  padding: 16px 0;

  @media screen and (min-width: 768px), (orientation: landscape) {
    width: 50%;
    padding: 0 16.5px;
    max-width: 300px;
  }

  .card {
    padding: 0;
    &:hover,
    &:active {
      background-image: none;
      box-shadow: none;
    }
  }

  .card__name {
    @media screen and (min-width: 768px) {
      white-space: nowrap;
    }
  }

  & + & {
    margin-top: 2px;
    position: relative;

    @include landscape() {
      margin-top: 0;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background-color: var(--color-text-secondary);
      opacity: 0.3;
      bottom: 100%;

      @media screen and (min-width: 768px), (orientation: landscape) {
        height: auto;
        width: 2px;
        right: auto;
        top: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  &:nth-of-type(2) ~ & {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &:nth-of-type(2) + & {
    @media screen and (min-height: 736px) {
      display: block;
    }
  }
}
