.diagram {
  $self: &;

  &__caption {
    margin-bottom: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: inherit;
  }

  &__inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @include landscape() {
      display: grid;
      grid-template-columns: 1fr 1.266fr;
      grid-column-gap: 40px;
      align-items: center;
      max-width: 88.2vmax;
      width: 100%;
      margin: 0 auto;
    }

    @media screen and (min-width: 768px) {
      max-width: 78vmax;
    }

    @media screen and (min-width: 1280px) {
      grid-template-columns: 1fr 1fr;
      max-width: 1500px;
    }

    @include media-sphone() {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__table {
    display: grid;
    padding-bottom: 24px;

    @include landscape() {
      padding-bottom: 0;
    }
  }

  &__circle {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: auto;

    @include landscape() {
      margin: 0;
    }

    // @include media-sphone() {
    //   width: 80%;
    //   padding-bottom: 80%;
    // }

    @include light() {
      background-image: url('../public/images/svg/diagram-light.svg');
    }

    @include dark() {
      background-image: url('../public/images/svg/diagram-light.svg');
    }
  }

  &__info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 0 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    @include landscape() {
      padding: 0 20%;
    }
  }

  &__total {
    @include text-heading();
    word-spacing: 9999px;

    @include landscape() {
      @include text-subheading();
    }

    @media screen and (min-width: 768px) {
      @include text-heading();
    }
  }

  &__total + &__total-diff {
    margin-top: 8px;
  }

  &__total-diff {
    @include text-subheading();
    color: var(--color-text-secondary);

    @include landscape() {
      @include text-body();
    }

    @media screen and (min-width: 768px) {
      @include text-subheading();
    }
  }
}

.diagram-row {
  font-size: rem(16);
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  padding: rem(17) 0;

  // @include media-sphone() {
  //   font-size: rem(14);
  // }

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  & + & {
    &::after {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      height: 2px;
      right: 0;
      background-color: var(--color-text-secondary);
    }
  }

  &__circle {
    width: em(16);
    height: em(16);
    border-radius: 50%;

    &--sm {
      @include light() {
        background: radial-gradient(
          49.84% 49.84% at 49.84% 50.16%,
          rgba(191, 191, 191, 0.345) 82.81%,
          rgba(228, 228, 228, 0.1) 92.19%
        );
        box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5),
          inset 0px 0px 20px rgba(131, 131, 131, 0.6);
      }

      @include dark() {
        background: radial-gradient(
          100% 100% at 50% 0%,
          rgba(62, 62, 62, 0.5) 0%,
          rgba(40, 40, 40, 0.5) 100%
        );
        box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5);
      }
    }

    &--md {
      @include light() {
        background: radial-gradient(
          49.84% 49.84% at 49.84% 50.16%,
          rgba(166, 166, 166, 0.1725) 82.81%,
          rgba(203, 203, 203, 0.05) 92.19%
        );
        box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5),
          inset 0px 0px 20px rgba(105, 105, 105, 0.2);
      }

      @include dark() {
        background: radial-gradient(
          100% 100% at 50% 0%,
          rgba(151, 151, 151, 0.5) 0%,
          rgba(41, 41, 41, 0.5) 100%
        );
        box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5);
      }
    }

    &--lg {
      @include light() {
        background: radial-gradient(
          49.84% 49.84% at 49.84% 50.16%,
          rgba(255, 184, 0, 0.24) 81.25%,
          rgba(255, 239, 153, 0.12) 100%
        );
        box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5),
          inset 0px 0px 20px rgba(255, 176, 57, 0.4);
      }

      @include dark() {
        background: radial-gradient(
          49.84% 49.84% at 49.84% 50.16%,
          rgba(99, 63, 0, 0.5) 72.92%,
          rgba(15, 9, 0, 0.5) 100%
        );
        /* Styles/White/Circle/Second */

        box-shadow: 0px 0px 20px -8px rgba(147, 93, 0, 0.2),
          inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(202, 129, 0, 0.9);
      }
    }

    &--xl {
      @include light() {
        background: radial-gradient(
          49.84% 49.84% at 49.84% 50.16%,
          rgba(255, 184, 0, 0.56) 81.25%,
          rgba(255, 239, 153, 0.32) 100%
        );
        box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5),
          inset 0px 0px 20px rgba(255, 176, 57, 0.9);
      }

      @include dark() {
        background: radial-gradient(
          49.84% 49.84% at 49.84% 50.16%,
          rgba(255, 163, 0, 0.8) 71.88%,
          rgba(91, 58, 0, 0.8) 100%
        );
        /* Styles/White/Circle/First */

        box-shadow: 0px 0px 20px -8px rgba(248, 158, 0, 0.2),
          inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 162, 0, 0.9);
      }
    }
  }

  &__circle + &__title {
    margin-left: em(10);
  }

  &__title {
  }

  &__value {
    color: var(--color-text-secondary);
  }

  &__diff {
    color: var(--color-text-secondary);
  }

  &__diff + &__value {
    margin-left: em(16);
  }
}
