.leaders {
  &__content {
    display: flex;
    flex-direction: column;
  }
}

.leaders__chart {
  list-style: none;
  display: flex;
  align-items: flex-end;
  padding-left: 0;
  height: 72.9%;
  margin-top: auto;
  justify-content: center;
  width: 100%;

  @include landscape() {
    height: 72.2%;
  }
}

.leaders__item {
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (min-width: 900px) {
    flex: 1;
    width: auto;
  }

  @include landscape() {
  }

  &:nth-of-type(1) {
    order: 1;
    z-index: 2;
    height: 100%;
    width: 37%;

    @include landscape() {
      width: 19.2%;
    }
  }

  &:nth-of-type(2) {
    height: 89.7%;
    order: 1;
    z-index: 1;
    align-items: flex-end;

    @include landscape() {
      height: 92.2%;
    }

    .leaders__bar {
      width: calc(100% + 16px);
    }

    .bar__number {
      padding-left: 16px;
    }
  }

  &:nth-of-type(3) {
    z-index: 1;
    height: 90%;
    align-items: flex-start;

    @include landscape() {
      height: 92.2%;
    }

    @media screen and (max-width: 567px) and (orientation: portrait) {
      height: 79.46661%;
    }

    .leaders__bar {
      width: calc(100% + 16px);
    }
    .bar__number {
      padding-right: 16px;
    }
  }

  &:nth-of-type(4) {
    order: 1;
    align-items: flex-end;
    .leaders__bar {
      width: calc(100% + 16px);
    }

    .bar__number {
      padding-left: 16px;
    }
  }

  &:nth-of-type(5) {
    order: -1;
    .leaders__bar {
      width: calc(100% + 16px);
    }

    .bar__number {
      padding-right: 16px;
    }
  }

  &:nth-of-type(5),
  &:nth-of-type(4) {
    height: 84.55%;

    @media screen and (max-width: 567px) and (orientation: portrait) {
      display: none;
    }
  }

  &:nth-of-type(5) ~ & {
    display: none;
  }

  .card {
    margin: 0 auto;
  }
}

.leaders__bar {
  flex: 1;
  width: 100%;
  position: relative;

  .bar {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .bar__number {
    padding-top: 1px;
  }

  .leaders__chosen {
    margin-top: 67px;

    .card__caption {
      @include light() {
        color: var(--color-text-primary);
      }
      @include dark() {
        color: var(--color-text-primary);
      }
    }

    @include landscape() {
      display: none;
    }

    @media screen and (min-width: 568px) {
      display: none;
    }
  }
}
