.story {
  height: 100%;
}

.story__container {
  @include container;
  height: inherit;
  max-width: 1280px;
}

.story__content {
  padding-top: 20px;
  height: inherit;

  @include media-sphone() {
    padding-top: 16px;
  }
}

.story__heading {
  @include text-heading;
  margin-bottom: 8px;

  @include landscape() {
    text-align: center;
  }

  @include media-sphone() {
    font-size: 1.5rem;
  }
}

.story__caption {
  @include text-body;
  color: var(--color-light-grey);
  margin-bottom: 5px;

  @include landscape() {
    text-align: center;
  }

  @include media-sphone() {
    font-size: 0.875rem;
  }
}
