.vote {
}

.vote__content {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.vote__caption {
  margin-bottom: 0;
}

.vote__grid {
  list-style: none;
  display: grid;
  width: 100%;
  margin: auto 0;
  height: 75%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, minmax(71px, 1fr));
  grid-column-gap: 8px;
  align-items: center;
  grid-template-areas:
    'aa xx cc'
    'aa bb cc'
    'dd bb gg'
    'dd ff gg'
    'ee ff hh'
    'ee yy hh';

  @include landscape() {
    grid-template-columns: 1fr 1fr auto 1fr 1fr;
    grid-template-rows: repeat(4, minmax(71px, 1fr));
    grid-column-gap: 31px;
    grid-row-gap: 2px;
    padding: 4px 7px;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    grid-template-areas:
      '.. bb xx cc ..'
      'aa bb xx cc dd'
      'aa ff yy gg dd'
      '.. ff yy gg ..';
  }

  @include media-sphone {
    grid-template-rows: repeat(4, minmax(64px, 1fr));
  }
}

.vote__item {
  display: flex;
  justify-content: center;

  &--1 {
    grid-area: aa;
  }

  &--2 {
    grid-area: bb;
    top: 1px;
    position: relative;
    @include landscape() {
      top: 0;
    }
  }
  &--3 {
    grid-area: cc;
  }
  &--4 {
    grid-area: dd;
    top: 2px;
  }
  &--5 {
    grid-area: ff;
    position: relative;
    top: -2px;

    @include landscape() {
      top: 0;
    }
  }
  &--6 {
    grid-area: gg;
  }
  &--7 {
    grid-area: ee;
    @include landscape() {
      display: none;
    }
  }
  &--8 {
    grid-area: hh;
    @include landscape() {
      display: none;
    }
  }
}

.vote__button {
  display: flex;
  justify-content: center;
  height: 100%;

  &--1 {
    grid-area: xx;
    align-items: flex-end;

    .arrow-button {
      position: relative;
      top: -9px;
    }
    @include landscape() {
      align-items: center;
      .arrow-button {
        top: 12px;
      }
    }
  }
  &--2 {
    grid-area: yy;
    align-items: flex-start;

    .arrow-button {
      position: relative;
      top: 9px;
    }

    @include landscape() {
      align-items: center;

      .arrow-button {
        top: -12px;
      }
    }
  }
}
