$offset: 65px;

.vote {
}

.vote__content {
  display: flex;
  flex-direction: column;
}

.vote__caption {
  margin-bottom: 0;
}
.vote__content {
  flex-grow: 1;
}

.vote__grid {
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, minmax(71px, 1fr));
  grid-column-gap: 8px;
  align-items: center;
  height: 75vh;
  // max-width: 700px;
  margin: auto;
  grid-row-gap: 13px;
  grid-template-areas:
    'aa xx cc'
    'aa bb cc'
    'dd bb gg'
    'dd ff gg'
    'ee ff hh'
    'ee yy hh';

  @include landscape() {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, minmax(71px, 1fr));
    grid-column-gap: 31px;
    grid-row-gap: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 100%;
    // max-height: 600px;
    margin-top: 0;
    margin-bottom: 0;
    grid-template-areas:
      '.. bb xx cc ..'
      'aa bb xx cc dd'
      'aa ee yy ff dd'
      '.. ee yy ff ..';
  }

  @include media-sphone {
    grid-template-rows: repeat(4, minmax(64px, 1fr));
  }
}

.vote__item {
  display: flex;
  justify-content: center;

  &--1 {
    grid-area: aa;
  }

  &--2 {
    grid-area: bb;
  }
  &--3 {
    grid-area: cc;
  }
  &--4 {
    grid-area: dd;
  }
  &--5 {
    grid-area: ff;
  }
  &--6 {
    grid-area: gg;
    @include landscape() {
      display: none;
    }
  }
  &--7 {
    grid-area: ee;
  }
  &--8 {
    grid-area: hh;
    @include landscape() {
      display: none;
    }
  }
}

.vote__button {
  display: flex;
  justify-content: center;
  height: 100%;

  &--1 {
    grid-area: xx;
    align-items: flex-end;

    .arrow-button {
      position: relative;
      top: -4px;
    }
    @include landscape() {
      align-items: center;
      .arrow-button {
        top: 12px;
      }
    }
  }
  &--2 {
    grid-area: yy;
    align-items: flex-start;

    .arrow-button {
      position: relative;
      top: 4px;
    }

    @include landscape() {
      align-items: center;

      .arrow-button {
        top: -12px;
      }
    }
  }
}
